<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!-- AWS -->
    <add key="AWSProfileName" value="suryajith"/>
    <add key="AWSProfilesLocation" value="C:\Users\Acer PC\.aws\credentials" />
    <add key="AWSRegion" value="us-east-2" />
    <!--add key="AWSTextract" value="textract" /-->
  </appSettings>

</configuration>